.main-gift-certificate {
    padding-top: 60px;
    padding-bottom: 60px;

    @include media_from('lg') {
        padding-top: 80px;
        padding-bottom: 80px;
    }

    @include media_from('3xl') {
        padding-top: 100px;
        padding-bottom: 100px;
    }
  
    &__container {
        width: 100%;
        margin: 0 auto;
        padding-left: 10px;
        padding-right: 10px;

        @include media_from('sm') {
            padding-left: 50px;
            padding-right: 50px;
        }

        @include media_from('lg') {
            padding-left: 100px;
            padding-right: 100px;
        }

        @include media_from('xl') {
            padding-left: 0px;
            padding-right: 0px;
        }

        &__header {
            margin-bottom: 40px;
            &__title {
                margin-bottom: 40px;
                @include media_from('lg') {
                    margin-bottom: 60px;
                }
    
                @include media_from('xl') {
                    font-size: 40px;
                }
            
                @include media_from('2xl') {
                    font-size: 40px;
                }
    
                @include media_from('3xl') {
                    font-size: 48px;
                    margin-bottom: 80px;
                }
            }
            &__text {
                font-size: 15px;
                font-style: normal;
                font-weight: 500;
                line-height: 1.2;
                color: $font-color-black-main;
    
                @include media_from('lg') {
                    font-size: 18px;
                }
    
                @include media_from('3xl') {
                    font-size: 24px;
                }
            }
        }
    
        &__content {
            width: 100%;
            position: relative;
            margin-bottom: 40px;
    
            @include media_from('md') {
                padding-top: 80px;
            }
    
            @include media_from('lg') {
                margin-bottom: 80px;
            }
    
            @include media_from('3xl') {
                padding-top: 39px;
            }
    
            &__image {
                display: none;
    
                @include media_from('md') {
                    display: block;
                    position: absolute;
                    object-fit: cover;
                    width: 470px;
                    height: 298px;
                }
    
                @include media_from('3xl') {
                    width: 440px;
                    height: 279px;
                }
    
                &:first-of-type {
                    top: 0;
                    left: 50%;
                    transform: translateX(-50%);
    
                    @include media_from('xl') {
                        top: 50px;
                        left: 25px;
                        transform: rotate(-15deg);
                    }
                }
    
                &:last-of-type {
                    display: none;
    
                    @include media_from('xl') {
                        display: block;
                        top: 50px;
                        right: 25px;
                        transform: rotate(15deg);
                    }
                }
            }
            &__items {
                display: grid;
                grid-template-columns: minmax(145px, 345px);
                justify-content: center;
                gap: 30px;
    
                @include media_from('md') {
                    grid-template-columns: repeat(2, minmax(145px, 600px));
                }
    
                &__item {
                    position: relative;
                    width: 100%;
                    height: 100%;
                    border-radius: 10px;
                    background-color: $font-color-white;
                    box-shadow: 3px -2px 40px 7px rgba(0, 0, 0, 0.10);
                    font-style: normal;
                    line-height: 1.2;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    overflow: hidden;
    
                    &__bg-image {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: auto;

                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }
    
                    &__height {
                        font-size: 20px;
                        font-weight: 600;
                        z-index: 3;
                        color: $font-color-white;
                        margin-top: 15px;
                        margin-bottom: 15px;
    
                        @include media_from('sm') {
                            font-size: 28px;
                            margin-top: 20px;
                            margin-bottom: 20px;
                        }
    
                        @include media_from('xl') {
                            font-size: 38px;
                            margin-bottom: 30px;
                        }
    
                        @include media_from('2xl') {
                            font-weight: 700;
                            font-size: 48px;
                        }
                    }
                    &__cost {
                        font-size: 18px;
                        font-weight: 700;
                        z-index: 3;
                        color: $font-color-white;
                        margin-bottom: 80px;
    
                        @include media_from('sm') {
                            font-size: 20px;
                        }
    
                        @include media_from('lg') {
                            font-size: 24px;
                            margin-bottom: 100px;
                        }
    
                        @include media_from('xl') {
                            font-size: 28px;
                        }
    
                        @include media_from('2xl') {
                            font-size: 36px;
                        }
                    }
                    &__types {
                        z-index: 3;
                        text-align: center;
                        margin-bottom: 30px;
                        padding-left: 10px;
                        padding-right: 10px;
    
                        @include media_from('sm') {
                            margin-bottom: 40px;
                        }
    
                        @include media_from('lg') {
                            margin-bottom: 60px;
                        }
    
                        @include media_from('xl') {
                            margin-bottom: 80px;
                        }
    
                        &__type {
                            margin-bottom: 15px;
    
                            @include media_from('sm') {
                                margin-bottom: 20px;
                            }
        
                            @include media_from('lg') {
                                margin-bottom: 30px;
                            }
    
                            &__name {
                                font-size: 15px;
                                font-weight: 500;
                                color: $color-blue;
                                margin-bottom: 15px;
    
                                @include media_from('sm') {
                                    font-size: 16px;
                                }
    
                                @include media_from('md') {
                                    font-size: 18px;
                                }
    
                                @include media_from('lg') {
                                    font-size: 20px;
                                }
            
                                @include media_from('2xl') {
                                    font-size: 24px;
                                }
                            }
                            &__price {
                                font-size: 18px;
                                font-weight: 600;
                                color: $color-blue;
    
                                @include media_from('sm') {
                                    font-size: 20px;
                                }
    
                                @include media_from('md') {
                                    font-size: 24px;
                                }
    
                                @include media_from('lg') {
                                    font-size: 28px;
                                }
            
                                @include media_from('2xl') {
                                    font-size: 36px;
                                }
                            }
                        }
                    }
    
                    &__buttons {
                        display: flex;
                        flex-direction: row;
                        margin-bottom: 15px;
                        gap: 10px;
    
                        @include media_from('md') {
                            flex-direction: column;
                            gap: 20px;
                        }
    
                        @include media_from('lg') {
                            flex-direction: row;
                            margin-bottom: 20px;
                        }
    
                        @include media_from('3xl') {
                            flex-direction: row;
                            margin-bottom: 25px;
                        }
    
                        &__button-call {
                            width: 140px;
                            height: 40px;
                            font-size: 15px;
                            font-style: normal;
                            font-weight: 700;
                            line-height: 48px;
                            border-radius: 100px;
                            color: $font-color-white;
                            background-color: $color-blue;
                            gap: 10px;
                            transition: all 0.3s ease;
    
                            @include media_from('md') {
                                width: 255px;
                                height: 68px;
                                font-size: 18px;
                                line-height: 68px;
                            }
                        
                            @include media_from('lg') {
                                width: 166px;
                                height: 48px;
                                font-size: 15px;
                                line-height: 48px;
                            }
    
                            @include media_from('xl') {
                                width: 220px;
                                height: 60px;
                                font-size: 20px;
                                line-height: 72px;
                            }
                        
                            @include media_from('2xl') {
                                width: 270px;
                                height: 72px;
                                font-size: 20px;
                                line-height: 72px;
                            }
    
                            svg {
                                width: 24px;
                                height: 24px;
    
                                @include media_from('md') {
                                    width: 28px;
                                    height: 28px;
                                }
                        
                                @include media_from('lg') {
                                    width: 24px;
                                    height: 24px;
                                }
                            
                                @include media_from('2xl') {
                                    width: 32px;
                                    height: 32px;
                                }
                            }
                        
                            &:hover {
                                opacity: 0.8;
                            }
                        }
    
                        &__button-write {
                            width: 140px;
                            height: 40px;
                            font-size: 15px;
                            font-style: normal;
                            font-weight: 700;
                            line-height: 48px;
                            border-radius: 100px;
                            color: $font-color-white;
                            background-color: $color-blue;
                            gap: 10px;
                            transition: all 0.3s ease;
    
                            @include media_from('md') {
                                width: 255px;
                                height: 68px;
                                font-size: 18px;
                                line-height: 68px;
                            }
                        
                            @include media_from('lg') {
                                width: 166px;
                                height: 48px;
                                font-size: 15px;
                                line-height: 48px;
                            }
    
                            @include media_from('xl') {
                                width: 220px;
                                height: 60px;
                                font-size: 20px;
                                line-height: 72px;
                            }
                        
                            @include media_from('2xl') {
                                width: 270px;
                                height: 72px;
                                font-size: 20px;
                                line-height: 72px;
                            }
    
                            svg {
                                width: 24px;
                                height: 24px;
    
                                @include media_from('md') {
                                    width: 28px;
                                    height: 28px;
                                }
                        
                                @include media_from('lg') {
                                    width: 24px;
                                    height: 24px;
                                }
                            
                                @include media_from('2xl') {
                                    width: 32px;
                                    height: 32px;
                                }
                            }
                        
                            &:hover {
                                opacity: 0.8;
                            }
                        }
                    }
                }
            }
        }
    
        &__attention {
            font-size: 1rem;
            font-style: normal;
            font-weight: 500;
            line-height: 1.2;
            color: $color-red;
        }
    }
}