.main-about {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 40px;

    @include media_from('lg') {
		padding-top: 140px;
        padding-bottom: 80px;
	}

	@include media_from('3xl') {
		padding-top: 200px;
        padding-bottom: 100px;
	}

    &__header {
        width: 100%;
        text-align: left;
        padding-left: 10px;
        padding-right: 10px;
        margin: 0 auto;
        margin-bottom: 30px;

        @include media_from('sm') {
            width: 75%;
            padding-left: 50px;
            padding-right: 50px;
        }
   
        @include media_from('lg') {
            margin-bottom: 40px;
            text-align: center;
            width: 100%;
        }

        @include media_from('xl') {
            padding-left: 0px;
            padding-right: 0px;
        }
    
        @include media_from('3xl') {
            margin-bottom: 100px;
        }

        &__title {
            margin-bottom: 40px;

            @include media_from('lg') {
                margin-bottom: 60px;
            }

        }
        &__text {
            font-size: 0.85rem;
            font-style: normal;
            font-weight: 400;
            line-height: 1.2;
            margin: 0;
        }
    }

    &__top {
        width: 100%;
        max-width: 2560px;
        margin: 0 auto;

        &__container {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 20px;
    
            @include media_from('sm') {
                gap: 30px;
            }
    
            @include media_from('lg') {
                gap: 20px;
            }
            &__item {
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: 10px;
    
                @include media_from('sm') {
                    gap: 20px;
                }
    
                @include media_from('lg') {
                    width: 86%;
                    flex-direction: row;
                    gap: 2%;
                }
    
                &__image {
                    width: 97%;

                    @include media_from('sm') {
                        width: 86%;
                    }
    
                    @include media_from('lg') {
                        width: 53%;
                    }
                    img {
                        max-width: 100%;
                        height: auto;
                    }
                }
    
                &__description {
                    width: 100%;
                    align-self: center;
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    padding-left: 10px;
                    padding-right: 10px;
                    
                    @include media_from('sm') {
                        flex-direction: row;
                        align-items: center;
                        gap: 30px;
                        width: 75%;
                        padding-left: 0;
                        padding-right: 0;
                    }
                
                    @include media_from('lg') {
                        width: 45%;
                        align-self: normal;
                    }
    
                    @include media_from('2xl') {
                        padding: 0;
                    }
    
                    &__number {
                        font-size: 20px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: 1.2;
                        color: $color-blue;
                        margin: 0;
    
                        @include media_from('sm') {
                            font-size: 120px;
                        } 
    
                        @include media_from('3xl') {
                            font-size: 160px;
                        }
                    }
                    &__text {
                        font-size: 0.85rem;
                        font-style: normal;
                        font-weight: 500;
                        line-height: 1.2;
                        margin: 0;
                        color: $font-color-black-main;
                    }
                }
    
                &:nth-of-type(2) {
                    flex-direction: column-reverse;
    
                    @include media_from('lg') {
                        flex-direction: row;
                        align-self: flex-end;
                    }
                    .main-about__top__container__item__image {
                        align-self: flex-end;
                        @include media_from('lg') {
                            align-self: normal;
                        }
                    }
    
                    .main-about__top__container__item__description {
                        text-align: right;
    
                        @include media_from('sm') {
                            text-align: left;
                        } 
                    }
                }
            }
        }
    }

    .btn-about {
        margin: 40px auto 40px auto;

        @include media_from('lg') {
            margin: 80px auto 80px auto;
        }                

        @include media_from('3xl') {
            margin: 100px auto 100px auto;
        }
    }

    &__bottom {
        width: 100%;

        &__container {
            width: 100%;
            margin: 0 auto;
            padding-left: 10px;
            padding-right: 10px;
    
            @include media_from('sm') {
                padding-left: 50px;
                padding-right: 50px;
            }
    
            @include media_from('xl') {
                padding-left: 0px;
                padding-right: 0px;
            }

            &__header {
                margin-bottom: 30px;
    
                @include media_from('lg') {
                    margin-bottom: 60px;
                }                
    
                @include media_from('3xl') {
                    margin-bottom: 120px;
                }
                &__title {
                    font-size: 24px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 1.2;
                    text-transform: uppercase;
                    color: $font-color-black-main;
                    margin-bottom: 40px;
    
                    @include media_from('sm') {
                        font-size: 30px;
                    } 
    
                    @include media_from('lg') {
                        font-size: 40px;
                        margin-bottom: 60px;
                    }                
    
                    @include media_from('3xl') {
                        font-size: 48px;
                    }
                }
                &__text {
                    font-size: 0.85rem;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 1.2;
                    color: $font-color-black-main;
                    margin-bottom: 16px;
    
                    @include media_from('sm') {
                        margin-bottom: 20px;
                    } 
    
                    @include media_from('lg') {
                        margin-bottom: 30px;
                    }                
    
                    &:last-of-type {
                        margin-bottom: 0;
                    }
                }
            }
    
            &__grid-layout {
                display: grid;
                grid-template-columns: repeat(2, minmax(145px, 1fr));
                justify-content: space-between;
                column-gap: 10px;
                row-gap: 16px;

                @include media_from('sm') {
                    grid-template-columns: repeat(2, minmax(145px, 1fr));
                    justify-content: space-between;
                    column-gap: 30px;
                    row-gap: 30px;
                }

                @include media_from('lg') {
                    grid-template-columns: repeat(3, minmax(145px, 1fr));
                    justify-content: space-between;
                    column-gap: 20px;
                    row-gap: 30px;
                }

                @include media_from('2xl') {
                    column-gap: 30px;
                    row-gap: 40px;
                }

                &__wrapper {
                    width: 100%;
                    height: auto;

                    &__item {
                        width: 100%;
                        min-height: 213px;
                        height: auto;
                        position: relative;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border-radius: 10px;
                        background-color: $color-blue;
                        box-shadow: 3px -2px 40px 7px rgba(0, 0, 0, 0.10);
        
                        @include media_from('sm') {
                            min-height: 170px;
                        }
    
                        @include media_from('lg') {
                            width: 82%;
                        }

                        @include media_from('xl') {
                            width: 80%;
                        }

                        @include media_from('2xl') {
                            width: 78%;
                        }

                        @include media_from('3xl') {
                            width: 74%;
                        }
        
                        &__text {
                            font-size: 0.85rem;
                            font-style: normal;
                            font-weight: 600;
                            line-height: 1.2;
                            color: $font-color-white;
                            padding: 0 5px;
                            margin: 0;
                            text-align: center;
                        }
                        &__image {
                            position: absolute;
        
                            &:first-of-type {
                                top: -1px;
                                left: -1px;
                                width: 131px;
                                height: 35px;
                                border-radius: 10px 0 0 0 ;
                            }
        
                            &:last-of-type {
                                bottom: -1px;
                                right: -1px;
                                width: 131px;
                                height: 35px;
                                border-radius: 0 0 10px 0;
                            }
                        }
                    }

                    &:nth-of-type(4),&:nth-of-type(5),&:nth-of-type(6) {
                        .main-about__bottom__container__grid-layout__wrapper__item {
                            @include media_from('lg') {
                                margin-left: auto;
                            }
                        }
                    }

                    &:nth-of-type(even) {
                        .main-about__bottom__container__grid-layout__wrapper__item {
                            @include media_from('sm') {
                                margin-top: 20px;
                            }

                            @include media_from('lg') {
                                margin-top: 0;
                            }
                        }
                    }                
                }
            }
        }
    }
}