.main-airtube {
    position: relative;
    padding-top: 60px;
    padding-bottom: 60px;

    @include media_from('lg') {
        padding-top: 80px;
        padding-bottom: 80px;
    }

    @include media_from('3xl') {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    &__container {
        width: 100%;
        margin: 0 auto;
        padding-left: 10px;
        padding-right: 10px;

        @include media_from('sm') {
            padding-left: 50px;
            padding-right: 50px;
        }

        @include media_from('xl') {
            padding-left: 0px;
            padding-right: 0px;
        }

        &__header {
            color: $font-color-black-main;
            margin-bottom: 40px;
        
            @include media_from('lg') {
                margin-bottom: 64vw;
            }
            @include media_from('xl') {
                margin-bottom: 56vw;
            }
            @include media_from('2xl') {
                margin-bottom: 52vw;
            }
            @include media_from('3xl') {
                margin-bottom: 48vw;
            }

            @media (min-width:2560px) {
                margin-bottom: 1220px;
            }
    
            &__heading {
                margin-bottom: 40px;
                @include media_from('lg') {
                    margin-bottom: 60px;
                }
            
                @include media_from('3xl') {
                    text-align: center;
                    margin-bottom: 80px;
                }
            }
            
            &__text-block {
                &__heading {
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 1.2;
                    margin-bottom: 30px;
                    @include media_from('lg') {
                        font-size: 24px;
                    }
                
                    @include media_from('3xl') {
                        font-size: 32px;
                        margin-bottom: 40px;
                    }
                }
    
                &__item {
                    font-size: 15px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 1.2;
                    margin-bottom: 16px;
                    @include media_from('lg') {
                        font-size: 18px;
                        margin-bottom: 30px;
                    }
                
                    @include media_from('3xl') {
                        font-size: 20px;
                    }
    
                    &:last-of-type {
                        margin-bottom: 0;
                    }
                }
            }
        }
    
        &__slider {
            position: static;
            width: 100%;
            max-width: 2179px;
            margin-bottom: 60px;

            @include media_from('lg') {
                position: absolute;
                top: 480px;
                left: 50%;
                transform: translateX(-50%);
                margin-bottom: 0;
            }

            @include media_from('xl') {
                width: 85%;
                top: 460px;
            }
        
            @include media_from('3xl') {
                top: 530px;
            }
        }
    
        &__invitation {
            color: $font-color-black-main;
    
            &__text {
                font-size: 18px;
                font-style: normal;
                font-weight: 600;
                line-height: 1.2;
                margin-bottom: 40px;
    
                @include media_from('sm') {
                    margin-bottom: 60px;
                }
    
                @include media_from('lg') {
                    font-size: 24px;
                    text-align: center;
                }
            
                @include media_from('3xl') {
                    font-size: 32px;
                    margin-bottom: 80px;
                }
            }
    
            &__address {
                display: flex;
                flex-direction: column;
                gap: 40px;
    
                @include media_from('lg') {
                    flex-direction: row;
                    gap: 35px;
                }
            
                &__elem {
                    width: 100%;

                    @include media_from('lg') {
                        width: 50%;
                    }
                    &__city {
                        font-size: 24px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: 1.2;
                        color: $color-blue;
                        margin-bottom: 30px;
    
                        @include media_from('lg') {
                            font-size: 32px;
                            margin-bottom: 40px;
                        }
                    
                        @include media_from('3xl') {
                            font-size: 48px;
                            margin-bottom: 60px;
                        }
                    }
    
                    &__contact-list {
                        display: flex;
                        flex-direction: column;
                        gap: 20px;
    
                        @include media_from('lg') {
                            gap: 30px;
                        }
                    
                        @include media_from('3xl') {
                            gap: 40px;
                        }
    
                        &__item {
                            display: flex;
                            align-items: center;
    
                            &__text {
                                font-size: 15px;
                                font-style: normal;
                                font-weight: 500;
                                line-height: 1.2;
                                margin-left: 12px;
                                @include media_from('lg') {
                                    font-size: 24px;
                                    margin-left: 20px;
                                }
                            
                                @include media_from('3xl') {
                                    font-size: 32px;
                                }
                            }
    
                            &:nth-of-type(1) {
                                .main-airtube__container__invitation__address__elem__contact-list__item__icon {
                                    width: 24px;
                                    height: 31px;
                                    @include media_from('lg') {
                                        width: 36px;
                                        height: 46px;
                                    }
                                
                                    @include media_from('3xl') {
                                        width: 50px;
                                        height: 65px;
                                    }
                                }
                            }
    
                            &:nth-of-type(2) {
                                .main-airtube__container__invitation__address__elem__contact-list__item__icon {
                                    width: 30px;
                                    height: 30px;
                                    @include media_from('lg') {
                                        width: 36px;
                                        height: 37px;
                                    }
                                
                                    @include media_from('3xl') {
                                        width: 50px;
                                        height: 51px;
                                    }
                                }
                            }
    
                            &:nth-of-type(3) {
                                .main-airtube__container__invitation__address__elem__contact-list__item__icon{
                                    width: 31px;
                                    height: 31px;
                                    @include media_from('lg') {
                                        width: 36px;
                                        height: 37px;
                                    }
                                
                                    @include media_from('3xl') {
                                        width: 50px;
                                        height: 51px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.main-airtube-swiper {
    width: 100%;
    height: 100%;
    max-height: 1035px;
    min-height: 100%;
    padding-bottom: 40px;
    position: relative;

    @include media_from('md') {
        padding-left: 0;
        padding-right: 0;
    }

    @include media_from('lg') {
        padding-bottom: 120px;
        height: 52vw;
    }

    @include media_from('xl') {
        height: 44vw;
    }

    @include media_from('2xl') {
        height: 43vw;
    }

    @include media_from('3xl') {
        height: 42vw;
    }

    .main-airtube-swiper-wrapper {
        width: 100%;
        height: 100%;

        .main-airtube-swiper-slide {
            width: 100%;
            height: auto;
            cursor: grab;
            display: flex;
            justify-content: center;
            align-items: center;

            .slide-container {
                width: 100%;
                aspect-ratio: 8/5;
                border-radius: 10px;
                overflow: hidden;
                transition: all 0.2s ease;

                @include media_from('lg') {
                    width: 87%;
                    min-width: 87%;
                    aspect-ratio: 1/1;
                }

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }

        .swiper-slide-active .slide-container {
            @include media_from('lg') {
                width: 132%;
                min-width: 132%;
                aspect-ratio: 1/1;
            }
        }

        .swiper-slide-prev .slide-container {
            @include media_from('xl') {
                margin-right: auto;
            }
        }

        .swiper-slide-next .slide-container {
            @include media_from('xl') {
                margin-left: auto;
            }
        }
    }

    .swiper-pagination-bullets {
        display: none;
    }
}

// Стрелки навигации
.main-airtube-swiper-navigation-block {
    display: none;

    @include media_from('lg') {
        width: 240px;
        display: flex;
        gap: 80px;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
    }

    .main-airtube-swiper-button-prev {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        cursor: pointer;
        transition: all 0.3s ease;

        &:hover {
            opacity: 0.8;
        }

        svg {
            width: 80px;
            height: 80px;
        }
    }
    .main-airtube-swiper-button-next {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        cursor: pointer;
        transition: all 0.3s ease;

        &:hover {
            opacity: 0.8;
        }
        
        svg {
            width: 80px;
            height: 80px;
        }
    }
}

// Буллеты
.main-airtube-swiper-pagination-block {
    display: inline-block;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    .main-airtube-swiper-pagination {
        display: flex;
        align-items: center;
        gap: 15px;
    
        @include media_from('lg') {
            display: none;
        }
    
        .swiper-pagination-bullet {
            width: 14px;
            height: 14px;
            border-radius: 50%;
            background-color: $color-blue;
            opacity: 0.8;
        }
    
        .swiper-pagination-bullet-active {
            width: 16px;
            height: 16px;
            opacity: 1;
        }
    }
}