.main-header {
    width: 100%;
    height: 100vh;
    position: relative;
    .main-background {
        width: 100%;
        height: 100vh;
        max-width: 2560px;
        max-height: 1440px;
        min-height: 812px;
        background-color: white;
        background-image: url("/img/bg-image-small.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 50% 50%;

        @include media_from('sm') {
            background-image: url("/img/bg-image-mid.png");
        }

        @include media_from('lg') {
            background-image: url("/img/bg-image-big.png");
        }
    }

    .main-container {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }
    &__content {
        flex: 1 1 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        max-width: 1880px;
        padding: 0 20px;
        padding-top: 145px;
        margin: 0 auto;

        &__title {
            &__heading {
                max-width: 1073px;
                font-size: 72px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                color: $font-color-white;
                margin-bottom: 100px;
            }
        }
        &__nav {
            display: none;

            @include media_from('lg') {
                display: flex;
                flex-direction: column;
                align-items: center;
            }

            &__vertical-line {
                width: 2px;
                height: 120px;
                background: rgba(249, 249, 249, 0.30);
                
                &:first-of-type {
                    margin-bottom: 20px;
                }

                &:last-of-type {
                    margin-top: 20px;
                }
            }

            &__link-item {
                font-size: 18px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
                color: $font-color-white;
                margin-bottom: 30px;
                white-space: nowrap;

                &:last-of-type {
                    margin-bottom: 0;
                }

                &:hover,
                &:active {
                    transform: scale(1.3);
                    transition: transform 0.3s ease-in-out;
                }
            }
        }
    }
    &__social-links {
        display: none;

        @include media_from('lg') {
            width: 100%;
            max-width: 1880px;
            padding: 0 20px;
            margin: 0 auto;
            display: flex;
            justify-content: end;
        }

        &__container {
            display: flex;
            gap: 30px;
            margin-bottom: 30px;
            padding-top: 20px;
            &__item {
                cursor: pointer;
            }
        }
    }
}
.btn {
}
.btn-orange {
}