.main-contacts {
    width: 100%;
    padding-top: 40px;
    padding-bottom: 50px;

    @include media_from('lg') {
		padding-top: 80px;
        padding-bottom: 140px;
	}

	@include media_from('3xl') {
		padding-top: 100px;
        padding-bottom: 200px;
	}

    &__container {
        width: 100%;
        margin: 0 auto;
        padding-left: 10px;
        padding-right: 10px;

        @include media_from('sm') {
            padding-left: 50px;
            padding-right: 50px;
        }

        @include media_from('xl') {
            padding-left: 0px;
            padding-right: 0px;
        }

        &__header {
            text-align: left;
            margin-bottom: 40px;
            @include media_from('lg') {
                text-align: center;
                margin-bottom: 60px;
            }
        
            @include media_from('3xl') {
                margin-bottom: 80px;
            }
        }
    }
}