.main-schedule {
    width: 100%;
    padding-top: 60px;
    padding-bottom: 60px;

    @include media_from('lg') {
        padding-top: 80px;
        padding-bottom: 90px;
    }

    @include media_from('3xl') {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    &__container {
        width: 100%;
        margin: 0 auto;
        padding-left: 10px;
        padding-right: 10px;

        @include media_from('sm') {
            padding-left: 50px;
            padding-right: 50px;
        }

        @include media_from('xl') {
            padding-left: 0px;
            padding-right: 0px;
        }

        &__header {
            text-align: left;
            margin-bottom: 40px;
    
            @include media_from('lg') {
                margin-bottom: 60px;
                text-align: center;
            }
        
            @include media_from('3xl') {
                margin-bottom: 120px;
            }
        }
    
        &__content {
            display: grid;
            grid-template-columns: repeat(2, minmax(145px, 341px));
            justify-content: center;
            column-gap: 10px;
            row-gap: 10px;
    
            @include media_from('md') {
                grid-template-columns: repeat(3, minmax(145px, 341px));
                justify-content: space-between;
                column-gap: 23px;
                row-gap: 10px;
            }
    
            @include media_from('lg') {
                column-gap: 38px;
                row-gap: 40px;
            } 
    
            @include media_from('2xl') {
                grid-template-columns: repeat(4, minmax(145px, 341px));
            }                
    
            @include media_from('3xl') {
                grid-template-columns: repeat(5, minmax(145px, 341px));
            }
        }
    }
}