<div class="driving-route">
  <div class="driving-route__info-block">
    <div class="driving-route__info-block__item">
      <h3 class="driving-route__info-block__item__title">Из Новосибирска</h3>
      <div class="driving-route__info-block__item__image">
        <img src="img/main-contacts-route-img-01.svg" width="685" height="66" alt="Путь" />
      </div>
      <div class="driving-route__info-block__item__route">
        <p class="driving-route__info-block__item__route__title">Из Новосибирска</p>
        <ul class="driving-route__info-block__item__route__list">
          <li class="driving-route__info-block__item__route__list__elem">
            <svg
              class="driving-route__info-block__item__route__list__elem__icon"
              xmlns="http://www.w3.org/2000/svg"
              width="18"
              height="20"
              viewBox="0 0 18 20"
              fill="none"
            >
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M9 19C13.4183 17 17 13.4183 17 9C17 4.58172 13.4183 1 9 1C4.58172 1 1 4.58172 1 9C1 13.4183 4.58172 17 9 19ZM9 12C10.6569 12 12 10.6569 12 9C12 7.34315 10.6569 6 9 6C7.3431 6 6 7.34315 6 9C6 10.6569 7.3431 12 9 12Z"
                fill="#3455C9"
              />
              <path
                d="M9 12C10.6569 12 12 10.6569 12 9C12 7.34315 10.6569 6 9 6C7.3431 6 6 7.34315 6 9C6 10.6569 7.3431 12 9 12Z"
                stroke="#1F1E1E"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M9 19C13.4183 17 17 13.4183 17 9C17 4.58172 13.4183 1 9 1C4.58172 1 1 4.58172 1 9C1 13.4183 4.58172 17 9 19Z"
                stroke="#1F1E1E"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
            <span class="driving-route__info-block__item__route__list__elem__text"
              >Новосибирск</span
            >
          </li>
          <li class="driving-route__info-block__item__route__list__elem">
            <svg
              class="driving-route__info-block__item__route__list__elem__icon"
              xmlns="http://www.w3.org/2000/svg"
              width="18"
              height="20"
              viewBox="0 0 18 20"
              fill="none"
            >
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M9 19C13.4183 17 17 13.4183 17 9C17 4.58172 13.4183 1 9 1C4.58172 1 1 4.58172 1 9C1 13.4183 4.58172 17 9 19ZM9 12C10.6569 12 12 10.6569 12 9C12 7.34315 10.6569 6 9 6C7.3431 6 6 7.34315 6 9C6 10.6569 7.3431 12 9 12Z"
                fill="#3455C9"
              />
              <path
                d="M9 12C10.6569 12 12 10.6569 12 9C12 7.34315 10.6569 6 9 6C7.3431 6 6 7.34315 6 9C6 10.6569 7.3431 12 9 12Z"
                stroke="#1F1E1E"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M9 19C13.4183 17 17 13.4183 17 9C17 4.58172 13.4183 1 9 1C4.58172 1 1 4.58172 1 9C1 13.4183 4.58172 17 9 19Z"
                stroke="#1F1E1E"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
            <span class="driving-route__info-block__item__route__list__elem__text">Плотниково</span>
          </li>
          <li class="driving-route__info-block__item__route__list__elem">
            <svg
              class="driving-route__info-block__item__route__list__elem__icon"
              xmlns="http://www.w3.org/2000/svg"
              width="18"
              height="20"
              viewBox="0 0 18 20"
              fill="none"
            >
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M9 19C13.4183 17 17 13.4183 17 9C17 4.58172 13.4183 1 9 1C4.58172 1 1 4.58172 1 9C1 13.4183 4.58172 17 9 19ZM9 12C10.6569 12 12 10.6569 12 9C12 7.34315 10.6569 6 9 6C7.3431 6 6 7.34315 6 9C6 10.6569 7.3431 12 9 12Z"
                fill="#3455C9"
              />
              <path
                d="M9 12C10.6569 12 12 10.6569 12 9C12 7.34315 10.6569 6 9 6C7.3431 6 6 7.34315 6 9C6 10.6569 7.3431 12 9 12Z"
                stroke="#1F1E1E"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M9 19C13.4183 17 17 13.4183 17 9C17 4.58172 13.4183 1 9 1C4.58172 1 1 4.58172 1 9C1 13.4183 4.58172 17 9 19Z"
                stroke="#1F1E1E"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
            <span class="driving-route__info-block__item__route__list__elem__text">Журавлёво</span>
          </li>
          <li class="driving-route__info-block__item__route__list__elem">
            <svg
              class="driving-route__info-block__item__route__list__elem__icon"
              xmlns="http://www.w3.org/2000/svg"
              width="18"
              height="20"
              viewBox="0 0 18 20"
              fill="none"
            >
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M9 19C13.4183 17 17 13.4183 17 9C17 4.58172 13.4183 1 9 1C4.58172 1 1 4.58172 1 9C1 13.4183 4.58172 17 9 19ZM9 12C10.6569 12 12 10.6569 12 9C12 7.34315 10.6569 6 9 6C7.3431 6 6 7.34315 6 9C6 10.6569 7.3431 12 9 12Z"
                fill="#3455C9"
              />
              <path
                d="M9 12C10.6569 12 12 10.6569 12 9C12 7.34315 10.6569 6 9 6C7.3431 6 6 7.34315 6 9C6 10.6569 7.3431 12 9 12Z"
                stroke="#1F1E1E"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M9 19C13.4183 17 17 13.4183 17 9C17 4.58172 13.4183 1 9 1C4.58172 1 1 4.58172 1 9C1 13.4183 4.58172 17 9 19Z"
                stroke="#1F1E1E"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
            <span class="driving-route__info-block__item__route__list__elem__text"
              >Аэродром Танай</span
            >
          </li>
        </ul>
      </div>
      <div class="driving-route__info-block__item__travel-time">
        <div class="driving-route__info-block__item__travel-time__distance">
          <p class="driving-route__info-block__item__travel-time__distance__value">160 км</p>
          <p class="driving-route__info-block__item__travel-time__distance__title">Расстояние</p>
        </div>
        <div class="driving-route__info-block__item__travel-time__time">
          <p class="driving-route__info-block__item__travel-time__time__value">2 ч. 30 мин</p>
          <p class="driving-route__info-block__item__travel-time__time__title">Время в пути</p>
        </div>
      </div>
    </div>
    <div class="driving-route__info-block__line"></div>
    <div class="driving-route__info-block__item">
      <h3 class="driving-route__info-block__item__title">Из Кемерово</h3>
      <div class="driving-route__info-block__item__image">
        <img src="img/main-contacts-route-img-02.svg" width="527" height="66" alt="Путь" />
      </div>
      <div class="driving-route__info-block__item__route">
        <p class="driving-route__info-block__item__route__title">Из Кемерово</p>
        <ul class="driving-route__info-block__item__route__list">
          <li class="driving-route__info-block__item__route__list__elem">
            <svg
              class="driving-route__info-block__item__route__list__elem__icon"
              xmlns="http://www.w3.org/2000/svg"
              width="18"
              height="20"
              viewBox="0 0 18 20"
              fill="none"
            >
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M9 19C13.4183 17 17 13.4183 17 9C17 4.58172 13.4183 1 9 1C4.58172 1 1 4.58172 1 9C1 13.4183 4.58172 17 9 19ZM9 12C10.6569 12 12 10.6569 12 9C12 7.34315 10.6569 6 9 6C7.3431 6 6 7.34315 6 9C6 10.6569 7.3431 12 9 12Z"
                fill="#3455C9"
              />
              <path
                d="M9 12C10.6569 12 12 10.6569 12 9C12 7.34315 10.6569 6 9 6C7.3431 6 6 7.34315 6 9C6 10.6569 7.3431 12 9 12Z"
                stroke="#1F1E1E"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M9 19C13.4183 17 17 13.4183 17 9C17 4.58172 13.4183 1 9 1C4.58172 1 1 4.58172 1 9C1 13.4183 4.58172 17 9 19Z"
                stroke="#1F1E1E"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
            <span class="driving-route__info-block__item__route__list__elem__text"
              >Новосибирск</span
            >
          </li>
          <li class="driving-route__info-block__item__route__list__elem">
            <svg
              class="driving-route__info-block__item__route__list__elem__icon"
              xmlns="http://www.w3.org/2000/svg"
              width="18"
              height="20"
              viewBox="0 0 18 20"
              fill="none"
            >
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M9 19C13.4183 17 17 13.4183 17 9C17 4.58172 13.4183 1 9 1C4.58172 1 1 4.58172 1 9C1 13.4183 4.58172 17 9 19ZM9 12C10.6569 12 12 10.6569 12 9C12 7.34315 10.6569 6 9 6C7.3431 6 6 7.34315 6 9C6 10.6569 7.3431 12 9 12Z"
                fill="#3455C9"
              />
              <path
                d="M9 12C10.6569 12 12 10.6569 12 9C12 7.34315 10.6569 6 9 6C7.3431 6 6 7.34315 6 9C6 10.6569 7.3431 12 9 12Z"
                stroke="#1F1E1E"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M9 19C13.4183 17 17 13.4183 17 9C17 4.58172 13.4183 1 9 1C4.58172 1 1 4.58172 1 9C1 13.4183 4.58172 17 9 19Z"
                stroke="#1F1E1E"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
            <span class="driving-route__info-block__item__route__list__elem__text">Плотниково</span>
          </li>
          <li class="driving-route__info-block__item__route__list__elem">
            <svg
              class="driving-route__info-block__item__route__list__elem__icon"
              xmlns="http://www.w3.org/2000/svg"
              width="18"
              height="20"
              viewBox="0 0 18 20"
              fill="none"
            >
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M9 19C13.4183 17 17 13.4183 17 9C17 4.58172 13.4183 1 9 1C4.58172 1 1 4.58172 1 9C1 13.4183 4.58172 17 9 19ZM9 12C10.6569 12 12 10.6569 12 9C12 7.34315 10.6569 6 9 6C7.3431 6 6 7.34315 6 9C6 10.6569 7.3431 12 9 12Z"
                fill="#3455C9"
              />
              <path
                d="M9 12C10.6569 12 12 10.6569 12 9C12 7.34315 10.6569 6 9 6C7.3431 6 6 7.34315 6 9C6 10.6569 7.3431 12 9 12Z"
                stroke="#1F1E1E"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M9 19C13.4183 17 17 13.4183 17 9C17 4.58172 13.4183 1 9 1C4.58172 1 1 4.58172 1 9C1 13.4183 4.58172 17 9 19Z"
                stroke="#1F1E1E"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
            <span class="driving-route__info-block__item__route__list__elem__text">Журавлёво</span>
          </li>
          <li class="driving-route__info-block__item__route__list__elem">
            <svg
              class="driving-route__info-block__item__route__list__elem__icon"
              xmlns="http://www.w3.org/2000/svg"
              width="18"
              height="20"
              viewBox="0 0 18 20"
              fill="none"
            >
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M9 19C13.4183 17 17 13.4183 17 9C17 4.58172 13.4183 1 9 1C4.58172 1 1 4.58172 1 9C1 13.4183 4.58172 17 9 19ZM9 12C10.6569 12 12 10.6569 12 9C12 7.34315 10.6569 6 9 6C7.3431 6 6 7.34315 6 9C6 10.6569 7.3431 12 9 12Z"
                fill="#3455C9"
              />
              <path
                d="M9 12C10.6569 12 12 10.6569 12 9C12 7.34315 10.6569 6 9 6C7.3431 6 6 7.34315 6 9C6 10.6569 7.3431 12 9 12Z"
                stroke="#1F1E1E"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M9 19C13.4183 17 17 13.4183 17 9C17 4.58172 13.4183 1 9 1C4.58172 1 1 4.58172 1 9C1 13.4183 4.58172 17 9 19Z"
                stroke="#1F1E1E"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
            <span class="driving-route__info-block__item__route__list__elem__text"
              >Аэродром Танай</span
            >
          </li>
        </ul>
      </div>
      <div class="driving-route__info-block__item__travel-time">
        <div class="driving-route__info-block__item__travel-time__distance">
          <p class="driving-route__info-block__item__travel-time__distance__value">115 км</p>
          <p class="driving-route__info-block__item__travel-time__distance__title">Расстояние</p>
        </div>
        <div class="driving-route__info-block__item__travel-time__time">
          <p class="driving-route__info-block__item__travel-time__time__value">1 ч. 30 мин</p>
          <p class="driving-route__info-block__item__travel-time__time__title">Время в пути</p>
        </div>
      </div>
    </div>
    <div class="driving-route__info-block__line"></div>
    <div class="driving-route__info-block__item">
      <h3 class="driving-route__info-block__item__title">Из Новокузнецка</h3>
      <div class="driving-route__info-block__item__image">
        <img src="img/main-contacts-route-img-03.svg" width="660" height="66" alt="Путь" />
      </div>
      <div class="driving-route__info-block__item__route">
        <p class="driving-route__info-block__item__route__title">Из Новокузнецка</p>
        <ul class="driving-route__info-block__item__route__list">
          <li class="driving-route__info-block__item__route__list__elem">
            <svg
              class="driving-route__info-block__item__route__list__elem__icon"
              xmlns="http://www.w3.org/2000/svg"
              width="18"
              height="20"
              viewBox="0 0 18 20"
              fill="none"
            >
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M9 19C13.4183 17 17 13.4183 17 9C17 4.58172 13.4183 1 9 1C4.58172 1 1 4.58172 1 9C1 13.4183 4.58172 17 9 19ZM9 12C10.6569 12 12 10.6569 12 9C12 7.34315 10.6569 6 9 6C7.3431 6 6 7.34315 6 9C6 10.6569 7.3431 12 9 12Z"
                fill="#3455C9"
              />
              <path
                d="M9 12C10.6569 12 12 10.6569 12 9C12 7.34315 10.6569 6 9 6C7.3431 6 6 7.34315 6 9C6 10.6569 7.3431 12 9 12Z"
                stroke="#1F1E1E"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M9 19C13.4183 17 17 13.4183 17 9C17 4.58172 13.4183 1 9 1C4.58172 1 1 4.58172 1 9C1 13.4183 4.58172 17 9 19Z"
                stroke="#1F1E1E"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
            <span class="driving-route__info-block__item__route__list__elem__text"
              >Новосибирск</span
            >
          </li>
          <li class="driving-route__info-block__item__route__list__elem">
            <svg
              class="driving-route__info-block__item__route__list__elem__icon"
              xmlns="http://www.w3.org/2000/svg"
              width="18"
              height="20"
              viewBox="0 0 18 20"
              fill="none"
            >
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M9 19C13.4183 17 17 13.4183 17 9C17 4.58172 13.4183 1 9 1C4.58172 1 1 4.58172 1 9C1 13.4183 4.58172 17 9 19ZM9 12C10.6569 12 12 10.6569 12 9C12 7.34315 10.6569 6 9 6C7.3431 6 6 7.34315 6 9C6 10.6569 7.3431 12 9 12Z"
                fill="#3455C9"
              />
              <path
                d="M9 12C10.6569 12 12 10.6569 12 9C12 7.34315 10.6569 6 9 6C7.3431 6 6 7.34315 6 9C6 10.6569 7.3431 12 9 12Z"
                stroke="#1F1E1E"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M9 19C13.4183 17 17 13.4183 17 9C17 4.58172 13.4183 1 9 1C4.58172 1 1 4.58172 1 9C1 13.4183 4.58172 17 9 19Z"
                stroke="#1F1E1E"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
            <span class="driving-route__info-block__item__route__list__elem__text">Плотниково</span>
          </li>
          <li class="driving-route__info-block__item__route__list__elem">
            <svg
              class="driving-route__info-block__item__route__list__elem__icon"
              xmlns="http://www.w3.org/2000/svg"
              width="18"
              height="20"
              viewBox="0 0 18 20"
              fill="none"
            >
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M9 19C13.4183 17 17 13.4183 17 9C17 4.58172 13.4183 1 9 1C4.58172 1 1 4.58172 1 9C1 13.4183 4.58172 17 9 19ZM9 12C10.6569 12 12 10.6569 12 9C12 7.34315 10.6569 6 9 6C7.3431 6 6 7.34315 6 9C6 10.6569 7.3431 12 9 12Z"
                fill="#3455C9"
              />
              <path
                d="M9 12C10.6569 12 12 10.6569 12 9C12 7.34315 10.6569 6 9 6C7.3431 6 6 7.34315 6 9C6 10.6569 7.3431 12 9 12Z"
                stroke="#1F1E1E"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M9 19C13.4183 17 17 13.4183 17 9C17 4.58172 13.4183 1 9 1C4.58172 1 1 4.58172 1 9C1 13.4183 4.58172 17 9 19Z"
                stroke="#1F1E1E"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
            <span class="driving-route__info-block__item__route__list__elem__text">Журавлёво</span>
          </li>
          <li class="driving-route__info-block__item__route__list__elem">
            <svg
              class="driving-route__info-block__item__route__list__elem__icon"
              xmlns="http://www.w3.org/2000/svg"
              width="18"
              height="20"
              viewBox="0 0 18 20"
              fill="none"
            >
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M9 19C13.4183 17 17 13.4183 17 9C17 4.58172 13.4183 1 9 1C4.58172 1 1 4.58172 1 9C1 13.4183 4.58172 17 9 19ZM9 12C10.6569 12 12 10.6569 12 9C12 7.34315 10.6569 6 9 6C7.3431 6 6 7.34315 6 9C6 10.6569 7.3431 12 9 12Z"
                fill="#3455C9"
              />
              <path
                d="M9 12C10.6569 12 12 10.6569 12 9C12 7.34315 10.6569 6 9 6C7.3431 6 6 7.34315 6 9C6 10.6569 7.3431 12 9 12Z"
                stroke="#1F1E1E"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M9 19C13.4183 17 17 13.4183 17 9C17 4.58172 13.4183 1 9 1C4.58172 1 1 4.58172 1 9C1 13.4183 4.58172 17 9 19Z"
                stroke="#1F1E1E"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
            <span class="driving-route__info-block__item__route__list__elem__text"
              >Аэродром Танай</span
            >
          </li>
        </ul>
      </div>
      <div class="driving-route__info-block__item__travel-time">
        <div class="driving-route__info-block__item__travel-time__distance">
          <p class="driving-route__info-block__item__travel-time__distance__value">215 км</p>
          <p class="driving-route__info-block__item__travel-time__distance__title">Расстояние</p>
        </div>
        <div class="driving-route__info-block__item__travel-time__time">
          <p class="driving-route__info-block__item__travel-time__time__value">2ч. 50 мин</p>
          <p class="driving-route__info-block__item__travel-time__time__title">Время в пути</p>
        </div>
      </div>
    </div>
  </div>
  <div id="map" class="driving-route__map"></div>
</div>
