.header {
    width: 100%;
    position: absolute;
    z-index: 5;
    .header-container {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 145px;
        margin: 20px auto 0 auto;
        padding-left: 10px;
        padding-right: 10px;

        @include media_from('sm') {
            padding-left: 50px;
            padding-right: 50px;
        }

        @include media_from('lg') {
            height: 106px;
            margin-bottom: 10px;
            margin: 0 auto 0 auto;
        }

        @include media_from('xl') {
            padding-left: 0px;
            padding-right: 0px;
        }

        &__logo {
            align-self: start;
            background-color: transparent;

            @include media_from('lg') {
                align-self: center;
            }
            a {
                cursor: pointer;
                img {
                    width: 200px;
                    height: 95px;

                    @include media_from('lg') {
                        width: 141px;
                        height: 67px;
                    }

                    @include media_from('xl') {
                        width: 223px;
                        height: 106px;
                    }
                }
            }
        }
        &__menu {
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100vh;
            background-color: transparent;
            transform: translateY(-100%);
            opacity: 0;

            @include media_from('lg') {
                display: flex;
                align-items: center;
                position: static;
                width: auto;
                height: 106px;
                transform: none;
                opacity: 1;
            }

            &__wrapper {
                max-width: 720px;
                margin-top: 185px;
                padding: 0 20px;

                @include media_from('sm') {
                    margin-top: 200px;
                    padding: 0 60px;
                }

                @include media_from('lg') {
                    max-width: none;
                    margin-top: 0;
                    padding: 0;
                }

                &__nav {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 30px;
                    margin-bottom: 60px;

                    @include media_from('sm') {
                        margin-bottom: 80px;
                    }

                    @include media_from('md') {
                        margin-bottom: 120px;
                    }

                    @include media_from('lg') {
                        flex-direction: row;
                        gap: 15px;
                        margin-bottom: 0;
                    }

                    @include media_from('2xl') {
                        gap: 30px;
                    }
    
                    @include media_from('3xl') {
                        gap: 40px;
                    }
    
                    &__link {
                        font-size: 0.92rem;
                        font-style: normal;
                        font-weight: 700;
                        line-height: 1.2;
                        color: $font-color-white;
                        cursor: pointer;
                        white-space: nowrap;
                        transition: color 0.3s ease;

                        @include media_from('sm') {
                            font-size: 1.5rem;
                        }

                        @include media_from('lg') {
                            font-size: 0.88rem;
                        }

                        &:hover {
                            color: $color-hover-link-white;
                        }

                        &.black-color {
                            color: $font-color-white;

                            @include media_from('lg') {
                                color: $font-color-black-main;
                            }
                        }

                        &.black-color:hover {
                            color: $color-hover-link-white;

                            @include media_from('lg') {
                                color: $color-hover-link-black;
                            }
                        }
                    }
                }
    
                &__social-links {
                    display: flex;
                    align-items: center;
                    gap: 30px;

                    @include media_from('lg') {
                        display: none;
                    }
                    &__item {
                        cursor: pointer;
                    }
                }
            }

            &.active-menu {
                transform: translateY(0);
                transition: opacity 1s ease;
                opacity: 1;
            }
        }

        &__tel {
            position: absolute;
            bottom: 0;
            left: 20px;
            display: flex;
            align-items: center;
            gap: 10px;
            background-color: transparent;

            @include media_from('sm') {
                left: 60px;
            }

            @include media_from('lg') {
                position: static;
                gap: 5px;
            }

            @include media_from('2xl') {
                gap: 10px;
            }

            &__icon {
                width: 30px;
                height: 30px;

                @include media_from('lg') {
                    width: 25px;
                    height: 25px;
                }

                @include media_from('xl') {
                    width: 30px;
                    height: 30px;
                }
            }

            &__link {
                font-size: 0.92rem;
                font-style: normal;
                font-weight: 700;
                line-height: 1.2;
                color: $font-color-white;
                cursor: pointer;
                white-space: nowrap;
                transition: color 0.3s ease;

                &:hover {
                    color: $color-hover-link-white;
                }

                &.black-color {
                    color: $font-color-black-main;
                }

                &.black-color:hover {
                    color: $color-hover-link-black;
                }
            }
        }

        &__burger {
            display: block;
            position: relative;
            width: 46px;
            height: 20px;
            cursor: pointer;
            background-color: transparent;

            @include media_from('lg') {
                display: none;
            }

            &__item-top {
                position: absolute;
                background-color: $font-color-white;
                top: 0;
                right: 0;
                width: 46px;
                height: 3px;
                border-radius: 30px;
                transition: all 0.3s ease;

                &.black-color {
                    background-color: $font-color-black-main;
                }
            }

            &__item-center {
                position: absolute;
                width: 34px;
                height: 3px;
                top: 9px;
                right: 0;
                border-radius: 30px;
                background-color: $font-color-white;
                transition: all 0.3s ease;

                &.black-color {
                    background-color: $font-color-black-main;
                }
            }

            &__item-bottom{
                position: absolute;
                width: 46px;
                height: 3px;
                bottom: 0;
                left: 0;
                border-radius: 30px;
                background-color: $font-color-white;
                transition: all 0.3s ease;

                &.black-color {
                    background-color: $font-color-black-main;
                }
            }

            &.active-menu .header-container__burger__item-top {
                width: 40px;
                transform: rotate(45deg);
                left: 6px;
                top: 9px;
            }

            &.active-menu .header-container__burger__item-bottom {
                width: 40px;
                transform: rotate(-45deg);
                left: 6px;
                bottom: 9px;
            }

            &.active-menu .header-container__burger__item-center {
                transform: scale(0);
            }
        }
    }

    .header-line {
        width: 100%;
        height: 1px;
        background: radial-gradient(311811199.28% 24944.64% at 50% -5.78%, rgba(255, 255, 255, 0.30) 0%, rgba(255, 255, 255, 0.00) 100%);
        display: none;

        @include media_from('lg') {
            display: block;
        }

        @include media_from('xl') {
            margin-top: 10px;
        }
    }
}