.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.btn-orange {
    width: 248px;
    height: 59px;
    border-radius: 50px;
    background-color: $color-orange;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 59px;
    color: $font-color-white;
    transition: all 0.3s ease;

    @include media_from('lg') {
        width: 315px;
        height: 73px;
        font-size: 18px;
        line-height: 73px;
    }

    @include media_from('2xl') {
        width: 354px;
        height: 78px;
        font-size: 20px;
        line-height: 78px;
    }

    &:hover {
        opacity: 0.8;
    }
}

.btn-white {
    width: 147px;
    height: 35px;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 35px;
    border-radius: 100px;
    background-color: $font-color-white;
    color: $color-blue;
    transition: all 0.3s ease;

    @include media_from('lg') {
        width: 186px;
        height: 45px;
        font-size: 18px;
        line-height: 45px;
    }

    @include media_from('2xl') {
        width: 237px;
        height: 54px;
        font-size: 20px;
        line-height: 54px;
    }

    &:hover {
        opacity: 0.8;
    }
}

.btn-blue {
    width: 166px;
    height: 48px;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px;
    border-radius: 100px;
    color: $font-color-white;
    background-color: $color-blue;
    gap: 10px;
    transition: all 0.3s ease;

    @include media_from('lg') {
        width: 255px;
        height: 68px;
        font-size: 18px;
        line-height: 68px;
    }

    @include media_from('2xl') {
        width: 270px;
        height: 72px;
        font-size: 20px;
        line-height: 72px;
    }

    svg {
        width: 24px;
        height: 24px;

        @include media_from('lg') {
            width: 28px;
            height: 28px;
        }
    
        @include media_from('2xl') {
            width: 32px;
            height: 32px;
        }
    }

    &:hover {
        opacity: 0.8;
    }
}