.price-gift-certificate {
    width: 100%;
    padding-top: 40px;
    padding-bottom: 50px;
    color: $font-color-black-main;

    @include media_from('lg') {
        padding-top: 80px;
        padding-bottom: 140px;
    }

    @include media_from('3xl') {
        padding-top: 100px;
        padding-bottom: 200px;
    }

    &__container {
        width: 100%;
        margin: 0 auto;
        padding-left: 10px;
        padding-right: 10px;

        @include media_from('sm') {
            padding-left: 50px;
            padding-right: 50px;
        }

        @include media_from('xl') {
            padding-left: 0px;
            padding-right: 0px;
        }

        h3 {
            font-size: 24px;
            font-style: normal;
            font-weight: 600;
            line-height: 1.2;
            margin-bottom: 40px;
    
            @include media_from('sm') {
                font-size: 40px;
            }
    
            @include media_from('lg') {
                font-size: 48px;
                margin-bottom: 60px;
                text-align: center;
            }
    
            @include media_from('3xl') {
                margin-bottom: 80px;
            }
        }
        &__content {
            &__gifts-block {
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 40px;
                margin-bottom: 40px;
    
                @include media_from('lg') {
                    flex-direction: row;
                    justify-content: center;
                    margin-bottom: 80px;
                    gap: 75px;
                }
            
                @include media_from('3xl') {
                    margin-bottom: 100px;
                }
    
                &__item {
                    width: 100%;
                    max-width: 758px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: 20px;
    
                    @include media_from('sm') {
                        gap: 30px;
                    }

                    h4 {
                        align-self: flex-start;
                        font-size: 20px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: 1.2;
                        color: $color-blue;
                        margin: 0;
                    
                        @include media_from('sm') {
                            font-size: 36px;
                        }
                    }
    
                    &__image {
                        width: 100%;
                        height: auto;
                        display: flex;
                        justify-content: center;
                        border-radius: 20px;
                        overflow: hidden;
    
                        img {
                            max-width: 100%;
                            height: auto;
                        }
                    }
    
                    ul {
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        gap: 10px;
                        padding: 0;
                        margin: 0;

                        @include media_from('lg') {
                            gap: 16px;
                        }
    
                        @include media_from('lg') {
                            gap: 25px;
                        }
    
                        li {
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            gap: 20px;
    
                            p {
                                font-size: 15px;
                                font-style: normal;
                                font-weight: 500;
                                line-height: normal;
                                margin: 0;
    
                                @include media_from('sm') {
                                    font-size: 24px;
                                }
                            }
                            span {
                                font-size: 20px;
                                font-style: normal;
                                font-weight: 500;
                                line-height: normal;
                                white-space: nowrap;
    
                                @include media_from('sm') {
                                    font-size: 24px;
                                }
                            
                                @include media_from('lg') {
                                    font-size: 32px;
                                }
                            }
                        }
                    }
                }
            }
    
            &__buttons-block {
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 20px;

                @media (min-width:385px) {
                    flex-direction: row;
                    justify-content: center;
                }
       
                @include media_from('lg') {
                    gap: 40px;
                }
            }

            p {
                font-size: 15px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;

                @include media_from('sm') {
                    font-size: 24px;
                }
            }
        }
    }
}