/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
    font-family: 'Manrope', system-ui, sans-serif;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/

body {
	// background-color: #424242;
}

body.lock {
    overflow: hidden;
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

.mask {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background: rgba(31, 30, 30, 0.80);
	transform: translateY(-100%);
	transition: transform 0.3s ease;
	z-index: 1;

	&.mask-active {
		transform: translateY(0);
	}
}

.content{
	flex: 1 1 auto;
}

.heading-h2 {
	font-size: 24px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	text-transform: uppercase;
	color: $font-color-black-main;

	@include media_from('sm') {
		font-size: 30px;
	}

	@include media_from('md') {
		font-size: 35px;
	}

	@include media_from('lg') {
		font-size: 40px;
	}

	@include media_from('xl') {
		font-size: 50px;
	}

	@include media_from('2xl') {
		font-size: 60px;
	}

	@include media_from('3xl') {
		font-size: 72px;
	}
}